{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Blogs{% endblock %}</h1>
  {% if session['username'] %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="center">
  
    <h1 style="text-align: center; padding-top: 4rem;">
      <a class="action" href="{{ url_for('blog.all_blogs') }}" style="color: white;">Posts</a>
      {%if username%}
        of {{ username }}
      {% endif %}
    </h1>
  
</div>

  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by <a href="{{ url_for('blog.user_blogs', username=post['author']['name']) }}">{{ post['author']['name'] }}</a> on {{ post['created_at'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if get_post(post['id'], only_check=True) %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}" style="padding-right: 10%;">Edit</a>
        {% endif %}
      </header>
      <p class="body" style="margin-bottom: 20px;">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr class="hr-posts">
    {% endif %}
  {% endfor %}
{% endblock %}
