{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="form-container">
    <h2>Edit the Post</h2>
    {{ form.hidden_tag() }}
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      {{ form.id }}
      <p>
        {{ form.title.label }}<br>
        {{ form.title(size=30) }}
        {% if form.title.errors %}
          <span style="color: red;">{{ form.title.errors[0] }}</span>
        {% endif %}
      </p>
      <p>
        {{ form.body.label }}<br>
        {{ form.body(rows=10, cols=50) }}
        {% if form.body.errors %}
          <span style="color: red;">{{ form.body.errors[0] }}</span>
        {% endif %}
      </p>
      <p>{{ form.save() }}</p>
      <p>{{ form.delete() }}</p>
    </form>
  </div>
{% endblock %}