@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'style files/toast.css';
@import 'style files/post.css';
@import 'style files/nav.css';
@import 'style files/account.css';

html {
  font-family: sans-serif;
}

body {
      color: white;
      margin: 0 auto;
      overflow-x: hidden;
      overflow-y: hidden;
      background-image: url("fancy-cushion.webp");
      background-repeat: repeat;
      background-position: top left;
      background-attachment: local;
      padding: 0;
    }

h1 {
  font-family: serif;
  color: #dee5e9;
  margin: 1rem 0;
  font-size: 100px;
  text-align: left;
}

a {
  color: #377ba8;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
  text-align: left;
}

input[type=submit] {
  align-self: left;
  min-width: 10em;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* vertical */
  align-items: center;      /* horizontal */
  padding: 100px;
}

hr {
    width:80%;
    margin:0 auto;
}

.relative-profile-pic-form {

  position: relative;
}