@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@keyframes borderShrink {
    100% {
        width: 0;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%)
    }
    100% {
        transform: translateX(0)
    }
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buttonHolder {
display: flex;
justify-content: center;
}

button {
    background: #242e77;
    border: 0;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px 25px;
    margin: 0 10px;
    font: 20px/1.6 'Roboto', sans-serif;
    cursor: pointer;
    transition: opacity 0.3s linear;
}

button:hover {
    opacity: 0.8;
}

#toastNotification {
    position: absolute;
    bottom: 0;
    right: 20px;
}

.toast {
    background: #ffffff;
    color: #000000;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    min-width: 400px;
    font-size: 18px;
    position: relative;
    animation: slideLeft 0.6s ease forwards
}

.toast i {
    font-size: 28px;
    color: #086108;
    margin-right: 20px;
}

.toast.error i {
    color: #be0707;
}

.toast:after {
    content:  '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #086108;
    animation: borderShrink 5s linear forwards;
}

.toast.error:after {
    background: #be0707;
}
html, body {
  height: 100%;
}

html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  color: rgb(255, 255, 255);
  max-width: 960px;
  margin: 0 auto;
  overflow-x: hidden;
  /* background-image: url('https://static.vecteezy.com/system/resources/thumbnails/049/609/660/small_2x/chartreux-cat-isolated-on-black-background-photo.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7%;
}

h1 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a,
nav ul li span,
header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input,
.content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}
