{% extends 'base.html' %}

{% block title %}Sign-Up{% endblock %}

{% block content %}
  <div class="form-container">
    
    <form method="POST" action="/auth/sign-up">
      <div class="container">
        <div class="rounded-rectangle-auth">

          <h1>Sign up</h1>
          <h2>Sign up to continue</h2>
          <br><br>
          {{ form.name(class_="form-control bg-transparent border-0 focus-ring text-white" , style="--bs-focus-ring-color: gray", size=32, placeholder="Username (min 5 chars)") }}
          <hr>
          <br>
          {{ form.email(class_="form-control bg-transparent border-0 focus-ring text-white" , style="--bs-focus-ring-color: gray", size=32, placeholder="Email") }}
          <hr>
          <br>
          {{ form.password(class_="form-control bg-transparent border-0 focus-ring text-white" , style="--bs-focus-ring-color: gray", size=32, placeholder="Password (min 5 chars)") }}
          <hr>
          <br><br>
          {{ form.submit(class="btn btn-primary btn-lg") }}
          <br>
          <small>
            Don't have an account?  
            <a href="/auth/sign-up">Sign Up</a>
          </small>

        </div>
      </div>

    </form>
  </div>
{% endblock %}