<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Toast notification{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
    {% block extra_head %}{% endblock %}
</head>


<nav class="menu">
  <ul class="left-group">
    <li><a>Hello there</a></li>
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('blog.all_blogs') }}">Blogs</a></li>
    <li><a href="{{ url_for('blog.create') }}">Create</a></li>
  </ul>

  <ul class="right-group">
    {% if session['username'] %}
    <li style="display: flex; align-items: center; gap: 0.5rem;">
        <a href="{{ url_for('auth.logout') }}">Log Out</a>
      </li>
      <li style="display: flex; align-items: center; gap: 0.5rem;">

        <a href="{{ url_for('account.account') }}" style="padding: 0;">
          <img src="{{ profile_pic_data(session['id']) }}" style="width:30px; height:30px; border-radius:50%; padding:0.1rem;" />
        </a>
      </li>
      
    {% else %}
    <li style="margin-left: auto;">
        <a href="{{ url_for('auth.sign_up') }}">Register</a>
      </li>
      <li style="text-align:right;">
        <a href="{{ url_for('auth.login') }}">Log In</a>
      </li>
       {% endif %}
  </ul>
</nav>

<body>
    <div id="toastNotification">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, message in messages %}
            <div class="toast {% if category == 'error' %}error{% endif %}">
                {% if category == 'success' %}
                    <i class="fa-solid fa-circle-check"></i> {{ message }}
                {% else %}
                    <i class="fa-solid fa-circle-exclamation"></i> {{ message }}
                {% endif %}
            </div>
        {% endfor %}
    {% endwith %}
</div>


    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>